<div class="container">
  <div class="about-me-header">
    <h1>About me</h1>
    <hr>
    <p>
      I am a strong, talented, and innovative developer and designer who is always open to new ideas and approaches to problem solving.
      I am a team player that is constantly striving to work efficiently and successfully with others in order to achieve our primary objectives.
      Life is an adventure that should be savored, and I am constantly striving to learn new things in order to broaden my horizons and improve myself as a person.
    </p>
  </div>
  <div class="Education-header">
    <h1>Education</h1>
    <hr> 
    <h2>
            CVO-SKOOL LICHTENBURG
        </h2>
        <h3>
            2006-2017
        </h3>
    <p>
       CVO-SKOOL LICHTENBURG was where I matriculated 
    </p>
    <h2>
        NWU POTCHEFSTROOM
    </h2>
    <h3>
        2018-2021
    </h3>
<p>
   I am a undergraduate student that studies BSC IT. I also completed a diploma in Digital Concept Design.
</p>
<h2>
  Passed Modules
</h2>
<div class= modules>
<div>
   Data Analysis
</div>
<div>
  Structured Programming
</div>
<div>
   Information security
</div>
<div>
  Communication skills
</div>
<div>
  Object-Oriented Programming
</div>
<div>
 Applications and advanced user interface programming 
</div>
<div>
 System development and design 
</div>

               
                  
                 
                  
                  
                  
                  
</div>
  </div>

  <div class="skills-container">
    <h1>Skills</h1>
    <hr>
    <h2>Development</h2>
    <div class="skills-container2">
      <div class="skills">
        <table style="width:100%">
          <tr>
            <td>C#</td>
            <td>
              <div class="w3-light-grey w3-xlarge">
                <div class="w3-container w3-purple" style="width: 72%">72%</div>
              </div>
            </td>
        </tr>
        <tr>
            <td>C++</td>
            <td>
              <div class="w3-light-grey w3-xlarge">
                <div class="w3-container w3-purple" style="width: 83%">83%</div>
              </div>
            </td>
        </tr>
        <tr>
            <td>PYTHON</td>
            <td>
              <div class="w3-light-grey w3-xlarge">
                <div class="w3-container w3-purple" style="width: 56%">56%</div>
              </div>
            </td>
        </tr>
        <tr>

            <td>JAVA</td>
            <td>
              <div class="w3-light-grey w3-xlarge">
                <div class="w3-container w3-purple" style="width: 60%">60%</div>
              </div>
            </td>
        </tr>
        <tr>

            <td>JAVASCRIPT</td>
            <td>
              <div class="w3-light-grey w3-xlarge">
                <div class="w3-container w3-purple" style="width: 80%">80%</div>
              </div>
            </td>
        </tr>
        <tr>

            <td>ANGULAR</td>
            <td>
              <div class="w3-light-grey w3-xlarge">
                <div class="w3-container w3-purple" style="width: 80%">80%</div>
              </div>
            </td>
        </tr>
        <tr>
            <td>REACT</td>
            <td>
              <div class="w3-light-grey w3-xlarge">
                <div class="w3-container w3-purple" style="width: 60%">60%</div>
              </div>
            </td>
        </tr>
        <tr>

            <td>CSS</td>
            <td>
              <div class="w3-light-grey w3-xlarge">
                <div class="w3-container w3-purple" style="width: 75%">75%</div>
              </div>
            </td>
        </tr>
        <tr>
            <td>HTML</td>
            <td>
              <div class="w3-light-grey w3-xlarge">
                <div class="w3-container w3-purple" style="width: 80%">80%</div>
              </div>
            </td>
        </tr>
        <tr>

            <td>Oracle</td>
            <td>
              <div class="w3-light-grey w3-xlarge">
                <div class="w3-container w3-purple" style="width: 90%">90%</div>
              </div>
            </td>
        </tr>
        <tr>

            <td> SQL SERVER</td>
            <td>
              <div class="w3-light-grey w3-xlarge">
                <div class="w3-container w3-purple" style="width: 75%">75%</div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="skills-container2">
        <h2>Graphic Design</h2>
        <div class="skills">
         <table style="width:100%">
          <tr>
            <td>PHOTOSHOP</td>
            <td>
              <div class="w3-light-grey w3-xlarge">
                <div class="w3-container w3-purple" style="width: 90%">90%</div>
              </div>
            </td>
        </tr>
        <tr>
            <td>BLENDER</td>
            <td>
              <div class="w3-light-grey w3-xlarge">
                <div class="w3-container w3-purple" style="width: 60%">60%</div>
              </div>
            </td>
        </tr>
        <tr>

            <td>AFTER EFFECTS</td>
            <td>
              <div class="w3-light-grey w3-xlarge">
                <div class="w3-container w3-purple" style="width: 70%">70%</div>
              </div>
            </td>
        </tr>
        <tr>
            <td>SONY-VEGAS</td>
            <td>
              <div class="w3-light-grey w3-xlarge">
                <div class="w3-container w3-purple" style="width: 75%">75%</div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
