.footer{
    background-color: rgb(71, 48, 100);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 20px;
    padding:10px;
    
    
   
    color: white;
   
}
.footer-contactMe{
    font-size: 2rem;

}
