<div class="footer">
  <footer>
    <div class="footer-contactMe">
      <p>Contact me via...</p>
    </div>
    <div class="footer-email">
      <p>Email:<a href="mailto: derickfx23@gmail.com">"derickfx23@gmail.com</a></p>
    </div> 
    <p>Please follow the social media links below to also get in touch:</p>

    <div class="footer-social">
        <div class=insta>
        <p><a href="https://www.instagram.com/derick_f_x">Instagram</a></p>  
          <img src="../../../assets/images/instagram.png"alt="instagram" width="100" height="100"  />
        </div>
       
        
        <p><a href="https://www.youtube.com/channel/UCfRDnGIr9jN84f8iiTlr3-g">Youtube</a></p>
        <img src="../../../assets/images/youtube.png" alt="youtube" width="100" height="100">
    </div>
  
  </footer>
</div>
