<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>About Me</ng-template>
    <app-about-me></app-about-me>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>Github Projects</ng-template>
    <app-projects></app-projects>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>Art Projects</ng-template>
    <app-art-projects></app-art-projects>
  </mat-tab>


<!-- 
  <mat-tab label="About Me"><app-about-me></app-about-me></mat-tab>
  <mat-tab label="Github Projects"><app-projects></app-projects></mat-tab>
  <mat-tab label="Art Projects"><app-art-projects></app-art-projects></mat-tab>
  <mat-tab label="Contact Me"><app-contact-me></app-contact-me></mat-tab> -->
</mat-tab-group>
