<div class="container">
  <div class="art-container">
    <img
      src="./assets/artwork/2.png"
      alt="Picture 1"
      width="100"
      height="100"
    />
    <img
      src="./assets/artwork/3-Recovered.png"
      alt="Picture 1"
      width="100"
      height="100"
    />
    <img
      src="./assets/artwork/class 1.png"
      alt="Picture 1"
      width="100"
      height="100"
    />
    <img
      src="./assets/artwork/inking.png"
      alt="Picture 1"
      width="100"
      height="100"
    />
    <img
      src="./assets/artwork/janco.png"
      alt="Picture 1"
      width="100"
      height="100"
    />
    <img
      src="./assets/artwork/REUN.png"
      alt="Picture 1"
      width="100"
      height="100"
    />
    <img
      src="./assets/artwork/skull.png"
      alt="Picture 1"
      width="100"
      height="100"
    />
    <img
      src="./assets/artwork/still life 2.png"
      alt="Picture 1"
      width="100"
      height="100"
    />
    <img
      src="./assets/artwork/still life.png"
      alt="Picture 1"
      width="100"
      height="100"
    />
    <img
      src="./assets/artwork/thehuntsman-Recovered.png"
      alt="Picture 1"
      width="100"
      height="100"
    />
    <img
      src="./assets/artwork/viod art.png"
      alt="Picture 1"
      width="100"
      height="100"
    />
  </div>
</div>
